#contributor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contributor a {
    text-decoration: unset;
    color: #5399b6;

    &:hover {
        text-decoration: underline;
    }
}

h2 {
    color: #333;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#contribution-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
    border-radius: 8px;
    overflow: hidden;
    animation: fadeIn 0.6s ease-out;
}

#contribution-table thead {
    background-color: #007bff5f;
    color: white;
}

#contribution-table th,
#contribution-table td {
    padding: 12px 15px;
    text-align: center;
}

#contribution-table th {
    font-weight: bold;
    border-bottom: 2px solid #0056b3;
}

#contribution-table td {
    border-bottom: 1px solid #ddd;
}

#contribution-table tr>td:nth-child(2) {
    text-align: left;
}

#contribution-table tbody>tr {
    background-color: #ffffffa6;
    border: 1px solid #ccc;
    transition:
        background-color 0.3s ease,
        box-shadow 0.3s ease,
        transform 0.3s ease;
}

#contribution-table tbody>tr:hover {
    background-color: #f0f0f000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
    border-color: #bbb;
}

#contribution-table button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 0.875rem;
    margin: 0.2rem;
    width: 70px;
    transition: background-color 0.3s ease;
}

#contribution-table button:hover {
    background-color: #0056b3;
}

#contribution-table input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    background-color: #ffffff5c;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.875rem;
    outline: none;
}

@media (max-width: 768px) {
    #contribution-table {
        font-size: 0.875rem;
    }

    #contribution-table th,
    #contribution-table td {
        padding: 8px;
    }

    #contribution-table th {
        font-size: 0.875rem;
    }

    #contribution-table button {
        padding: 6px 10px;
        font-size: 0.75rem;
    }
}