.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
}

#create-story {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f96a;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

#create-story input[type="text"],
#create-story input[type="file"] {
    width: -webkit-fill-available;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#create-story input[type="text"] {
    font-size: 18px;
    background-color: #ffffff5f;
}

#create-story button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#create-story button:hover {
    background-color: #0056b3;
}

#create-story p{
    margin: 0.5rem;
    text-align: center;
}

#create-story p a{
    text-decoration: none;
    color: #007bff;

    &:hover{
        text-decoration: underline;
    }
}


@media (max-width: 600px) {
    .form-container {
        padding: 15px;
    }

    #create-story input[type="text"],
    #create-story input[type="file"] {
        font-size: 14px;
    }

    #create-story button {
        padding: 12px;
        font-size: 16px;
    }
}